.viewer-list-item{
	width:100px;
	height:30px;
	line-height:30px;
}
.user-list{
    width:100%;
    height:300px;
    line-height:30px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    right:0;
    top:60px;
    font-size: 12px;
    border-radius: 0 0 0 5px;
    color:#FFFFFF;
    padding-left:10px;
}
